page-home {
    .imageHolder{
        border: dotted 0px black;
        position: relative;
        top: 0%;
        height: 10%;
        
    }
    
    .signInHolder{
        border: dotted 2px black;
        border-radius: 15px; 
        position: relative;
        top:4%;
        background-color: green;
        padding: 2%;
    }
    
    .logoHolder{
        border: dotted 0px black;  
        height: 16%;
        top:1%;
        background-color: white;
        position: relative;
        margin-left: 30%;
    }
    
    .myHeaderImage{
        height:190%;
    }
    
    .myLogoImage{
        height: 110%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        top:15%;
    }

}
